@import "tailwindcss";

video {
  will-change: transform;
  transform: translateZ(0);
}

.first-text {
  margin-bottom: 6rem;
}
.second-text {
  margin-bottom: 6rem;
}
.third-text {
  margin-bottom: 6rem;
}

.text {
  position: relative;
  max-width: 600px;
  margin: 150vh auto 0; /* 下の方に配置してスクロールで出るイメージ */
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}
